<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android" 
	package="rk.or.android" 
	a:versionCode="5" 
	a:versionName="OriSim3D-1.5">
	<uses-sdk a:minSdkVersion="7" a:targetSdkVersion="22"/>
	<supports-screens a:anyDensity="true" a:normalScreens="true" a:smallScreens="true" a:largeScreens="true" a:resizeable="true"></supports-screens>
    <uses-feature a:glEsVersion="0x00020000" a:required="true" />
    <application a:allowBackup="true"
    	a:label="@string/orisim3d_app"
    	a:icon="@drawable/ic_launcher_orisim" 
    	a:process="rk.or.android.ModelSelection"
        a:allowClearUserData="true">
        <activity a:name="ModelSelection" a:stateNotNeeded="true" a:noHistory="false">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity a:name="ModelView" a:stateNotNeeded="true" a:noHistory="true" a:exported="false">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
